.topMenu{
  background-color: rgb(29, 29, 29);
  height: 100px;
}


/* Counter */

.counter {
  color: white;
  background-color: rgb(32, 41, 51);
  width: 300px !important;
  height: 500px !important;
}


.counter:hover{
  border : 2px solid rgb(0, 0, 0);
}

.counter .counter-label{
  font-size: 30px;
  color: white;
}

.counter .counter-val{
  font-size: 60px;
  text-align: center;
  color: white;
}

.counter .decrement-btn{
  background-color: rgb(248, 43, 43);
  color : white;
}

.counter .decrement-btn:hover{
  background-color: rgb(102, 15, 15);
}

.counter .reset-btn {
  background-color: rgb(248, 174, 35);
  color : black;
}

.counter .reset-btn:hover{
  background-color: rgb(136, 95, 18);
  color : white;
}

.counter .reset-btn:active{
  background-color: rgb(207, 145, 30);
  color : black;
}
